<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{moviegoer/layout/layout}">

<div layout:fragment="content"
     class="min-h-full">
    <div class="h-screen grid grid-cols-1 md:grid-cols-3 tracking-wide mt-5">
        <div class="h-full col-start-2 py-15 place-self-center items-center md: py-3 px-3">
            <div class="bg-white rounded-t-lg">
                <img src="img/book/illustration-hero.svg" alt="" srcset="" class="w-full rounded-t-lg">
            </div>
            <div
                    class="grid grid-cols-1 justify-items-center px-20 py-10 bg-white rounded-b-lg  shadow-2xl">
                <div>
                    <h1 class="lg:text-xl sm:text-sm">Seats No Longer Available</h1>
                    <p>Your additional seats have been booked by another customer. Your original booking remains unchanged.</p>
                </div>
                <th:block th:unless="${bookingForm == null}">
                    <div class="lg:mb-5 lg:mt-5 sm:mt-2 sm:mb-2">
                        <div class="flex lg:flex-row md:flex-col lg:gap-4 md:gap-1">
                            <div class="flex flex-col">
                                <div class="lg:text-lg md:text-sm font-medium text-gray-600 flex justify-center">Film</div>
                                <div class="text-sm text-gray-500 flex justify-center"
                                     th:text="${bookingForm.getMovieName()}"
                                >Godfather
                                </div>
                            </div>
                            <div class="flex flex-col">
                                <div class="lg:text-lg md:text-sm font-medium text-gray-600 flex justify-center">Showing
                                </div>
                                <div class="text-sm text-gray-500 flex justify-center"
                                     th:text="${bookingForm.getScheduleDateText()}"
                                >Date
                                </div>
                            </div>
                            <div class="flex flex-col">
                                <div class="lg:text-lg md:text-sm font-medium text-gray-600 flex justify-center">Seats</div>
                                <div class="text-sm text-gray-500 flex justify-center"
                                     th:text="${bookingForm.getNumberOfSeats()}"
                                >Current number of seats
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
                <div id="cancel">
                    <a href="#" class="text-sm text-gray-700">Cancel Order</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>