<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<th:block th:fragment="movie-input(movie, displayMoreInfo)">
    <div class="rounded overflow-hidden shadow-lg m-4 flex justify-between">
        <div class="md:flex-shrink-0">
            <img class="md:w-56"
                 th:src="@{{path}(path=${movie.getImage()})}"
                 alt="A Quiet Place movie poster"/>
        </div>
        <div class="flex flex-col flex-grow px-8 py-4 bg-color-333">
            <h3 class="font-bold text-4xl md:text-2xl lg:text-2xl text-gray-900 movie--title"
                th:text="${movie.getMovieName()}"></h3>
            <span class="movie--year text-xl lg:text-sm lg:mb-4" th:text="${movie.getReleaseDate()}"></span>
            <div class="flex-grow">
                <p class="text-xl md:text-base lg:text-base text-gray-900 leading-snug truncate-overflow"
                   th:text="${movie.getDescription()}">
                </p>
            </div>
            <th:block th:if="${displayMoreInfo}">
                <div class="button-container flex justify-between mb-2">
                    <form th:method="get" th:action="@{/moviegoer/movie}">
                        <input type="hidden" th:name="filmId" th:value="${movie.getId()}"/>
                        <button class="text-lg mr-4 lg:text-sm text-gray-900">More Info</button>
                    </form>
                </div>
            </th:block>
        </div>
    </div>
</th:block>

</html>