<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/layout}">

<div layout:fragment="content"
     class="min-h-full">
  <div class="h-screen tracking-wide mt-5">
    <div class="place-self-center items-center">
      <div class="max-w-xl p-5 mx-auto my-10 bg-white rounded-md shadow-2xl">
        <div class="text-center">
          <h1 class="my-3 text-3xl font-semibold text-gray-700">Movie Summary</h1>
          <p class="text-gray-400">Fill in the form below to add a movie</p>
        </div>
        <div>
          <form th:action="@{/admin/add-movie}" enctype="multipart/form-data" th:object="${addMovieForm}" method="POST">
            <div class="mb-6">
              <label class="block mb-2 text-sm text-gray-600"
              >Name</label
              >
              <input
                      type="text"
                      placeholder="The Godfather"
                      required
                      th:field="*{movieName}"
                      class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md  focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300"
              />
            </div>
            <div class="mb-6">
              <label class="block mb-2 text-sm text-gray-600"
              >Image</label
              >
              <input
                      type="file"
                      placeholder="Image"
                      required
                      th:field="*{movieImage}"
                      class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md  focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300"
              />
            </div>
            <div class="mb-6">
              <label class="block mb-2 text-sm text-gray-600"
              >Description</label
              >
              <input
                      type="text"
                      placeholder="Description"
                      required
                      th:field="*{description}"
                      class="w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md  focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300"
              />
            </div>
            <div class="mb-6">
              <div
                      x-data
                      x-init="flatpickr($refs.datetimewidget, {wrap: true, enableTime: false, dateFormat: 'Y-m-d'});"
                      x-ref="datetimewidget"
                      class="flatpickr container mx-auto col-span-6 sm:col-span-6 mt-5"
              >
                <label for="datetime" class="flex-grow  block text-sm text-gray-700 mb-1">Release Date</label>
                <div class="flex align-middle align-content-center">
                  <input
                          x-ref="datetime"
                          type="text"
                          id="datetime"
                          data-input
                          required
                          placeholder="Select.."
                          class="block w-full px-2 border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-l-md shadow-sm"
                          th:field="*{releaseDate}"
                  >
                  <a
                          class="h-11 w-10 input-button cursor-pointer rounded-r-md bg-transparent border-gray-300 border-t border-b border-r"
                          title="clear" data-clear
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 mt-2 ml-1" viewBox="0 0 20 20" fill="#c53030">
                      <path fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"/>
                    </svg>
                  </a>
                </div>

              </div>
              <p
                      class="mt-2 text-sm text-red-600"
                      th:if="${#fields.hasErrors('releaseDate')}"
                      th:text="${#strings.listJoin(#fields.errors('releaseDate'), ', ')}"></p>
            </div>
            <button
                    type="submit"
                    class="mb-6 w-full px-2 py-4 text-white bg-blue-800 rounded-md  focus:bg-indigo-600 focus:outline-none"
            >
              Add
            </button>
            <div
                    class="grid justify-items-center"

            >
              <a th:href="@{/admin/movie-list}" class="text-gray-500">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>