<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{moviegoer/layout/layout}">

<div layout:fragment="content"
     class="min-h-full">
    <div class="h-screen grid grid-cols-1 md:grid-cols-3 tracking-wide mt-5">
        <div class="h-full col-start-2 py-15 place-self-center items-center md: py-3 px-3">
            <div class="bg-white rounded-t-lg">
                <img src="img/book/illustration-hero.svg" alt="" srcset="" class="w-full rounded-t-lg">
            </div>
            <div
                    class="grid grid-cols-1 justify-items-center px-20 py-10 bg-white rounded-b-lg  shadow-2xl">
                <div>
                    <form th:action="@{/loyalty-signup}" th:object="${movieGoer}" method="POST">
                        <input type="hidden" th:name="programId" th:value="${programId}"/>
                        <input type="hidden" th:name="numberOfSeats" th:value="${numberOfSeats}"/>
                        <button type="submit"
                                th:name="optIn"
                                th:value="${true}"
                                class="mb-4 flex w-full justify-center rounded-md border border-transparent bg-blue-800 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
                            Sign up
                        </button>
                        <button type="submit"
                                th:name="optIn"
                                th:value="${false}"
                                class="mb-4 flex w-full justify-center rounded-md border border-transparent bg-blue-800 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
                            No thanks
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</html>