<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<div layout:fragment="content"
        class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
    <div class="px-4 py-4 sm:px-0">
        <th:block th:each="movie : ${movies}">
            <div class="rounded overflow-hidden shadow-lg m-4 flex justify-between">
                <div class="md:flex-shrink-0">
                    <img class="md:w-56"
                         th:src="@{{path}(path=${movie.image()})}"
                         alt="A Quiet Place movie poster"/>
                </div>
                <div class="flex flex-col flex-grow px-8 py-4 bg-color-333">
                    <h3 class="font-bold text-4xl md:text-2xl lg:text-2xl text-gray-900 movie--title"
                        th:text="${movie.movieName()}"></h3>
                    <span class="movie--year text-xl lg:text-sm lg:mb-4" th:text="${movie.releaseDateText()}"></span>
                    <div class="flex-grow">
                        <p class="text-xl md:text-base lg:text-base text-gray-900 leading-snug truncate-overflow"
                           th:text="${movie.description()}">
                        </p>
                    </div>
                    <div class="button-container flex justify-between mb-2">
                        <form th:method="get" th:action="@{/movie}">
                            <input type="hidden" th:name="filmId" th:value="${movie.getId()}"/>
                            <button class="text-lg mr-4 lg:text-sm text-gray-900">More Info</button>
                        </form>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>
</html>